$header: #436372;
$default: #8b8b8b;
$header-accent: #edf1f4;
$header-default: #fcd7b6;

%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

%dmsans-400{
  font-family: 'DMSans-Regular', sans-serif;
  font-weight: 400;  
}

%dmsans-700{
  font-family: 'DMSans-Bold', sans-serif;
  font-weight: 700;  
}